*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100px;
    background-color:white;
    
}


.header{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    align-items: center;
}

.header a{
    text-decoration: inherit;
    color: rgb(0, 0, 0, 0.87);
    font-size: 20px;
    margin-right: 30px;

}

.header a:hover{
    text-decoration: underline;
    color: red;
}


.header_right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
    cursor: pointer;
}


.mainbody{
    flex: 1;
    display: flex;
    margin-top: 12x;
    flex-direction: column;  
}

.mainbody img{
    object-fit: contain;
    height: 260px;
}

.search_input{
    display: flex;
    align-items: center;
    border: 1px solid light grey;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin:  0 auto;
    margin-top: 40px;
    max-width: 560px;
}






.search_input input {
    flex:1;
    padding: 10px 20px;
    border: none;
    outline: none;
    
}


.search_input .material-symbols{
    color: grey;
}


.search_button{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}


.search_button button{
    margin: 2px;
    padding: 8px 13px;
    background-color:#E4F4F5;
    border: none;
    cursor:pointer;
    border-radius: 20px;
    
}

  .size_btn{
    align-items: center;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:orange;
    color: white;
    text-align: center;
 }


  